.OtherServices {
    margin-bottom: 130px !important;

    .Blog-title {
        text-align: center;
    }

    &-services {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

    }

    &-item {
        text-align: center;
        width: 400px;
        margin: 35px;
    }

    &-itemImg {
        width: 100%;
        margin-bottom: 25px;
    }

    &-itemTitle {
        font-size: 24px;
    }
}